<div class="navigation">
  <nav>
    <a class="nav-items" href="/">Home</a>
    <a class="nav-items" href="/about">About</a>
    <a class="nav-items" href="/articles">Articles</a>
  </nav>
</div>

<style>
  a.nav-items {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: 600;
    margin-right: 2%;
    text-transform: lowercase;
  }
  ul.nav-list {
    padding: 0%;
  }
</style>
